.container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
}

.svgBoxContainer {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.textField {
  margin: auto;
  width: 200px;
  color: green;
}

.buttonHolder {
  margin-top: 5px;
  width: 200px;
}

.root {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  color: violet;
}

.menu {
  width: 200px;
}
